$primary:red;
$secondary: darkblue;
$background: #ffedd8;



.nav.navbar-nav.navbar-nav li a {
  color: $primary;
  font-size: large;
}

.textcolor {
  color: $primary;
  text-align: center;
}

.appHeader {
  padding-top: 10%;
  padding-left: 5%;
  text-align: left;
}

.Applogo {
  height: 20px;
  width: 20px;

  animation-name: example;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
}

.addpadding {
  padding-right: 20px;
}

.Applogo:hover {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
  padding-top: 25%;
}

html, body, #heroimage{
  width:100%;
  height:100%;
}

#heroimage{
  background:url(../js/images/istalinga.jpg) center center;
  background-size:cover;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-height {

  margin-top: 20%;
  margin-bottom: 20%;

}

.mynav {
  padding-top: 20px;

}

.has-danger {
  color: $primary;

}


.center_div {
  width:50%;
  margin:5% auto;
  /*padding-top: 15%;
  padding-left: 40%;
  padding-right: 40%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  float: none;*/
}



body {
  font-family: 'Roboto';
}

div.gallery {
  margin: 1%;

  border: 1px solid #81D4FA;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid $secondary;
  color: $secondary;
}

div.gallery img {
  width: 50%;
  height: 25%;
}

div.desc {
  padding: 10px;
  text-align: right;
}

.box {
  display: flex;
  background-color: #81D4FA;
  color: white;
}

.familyMember {
  height: auto;
  width: auto;
  flex-direction: column;
}
//-------- Contact US ----------

h1{
  padding-top: 5%;
  color: $primary;
  text-align: center;
}

textarea {
  width: 100%;
  min-height: 10em;
}

.input-container {
  width: 60%;
  max-width: 90%;
  margin: 1% auto 3% auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: $secondary;
  color: white;
  font-size: 18px;
  cursor: pointer;

}

.SimplePDF {
  width: 350px; /* width of pdf document box should be != 0 */
  height: 500px; /* height of pdf document box should be != 0 */
  border: 1px dashed red; /* optional */
  margin: 15px; /* optional */
  padding: 15px; /* optional */
  float: left; /* optional */
}


